
@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Http404 error - did you enter a Pokedex Number?</h2>
    <div>
        <h2>Http404 error - did you enter a Pokedex Number?</h2>
    </div>

