
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-container">
    <figure>
        <img src="~/Images/pokemon-psyduck.gif" />
        <figcaption>Error - Please enter a valid ID! </figcaption>
    </figure>
</div>
